.button {
    background-color: blue;
    height: 40px;
    padding: 0 5px;
    border-radius: 5px;
    width: 150%;
    font-size: 16px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #444;
    color: blue;
}